IS_DEFAULT_PROFILE=1
API_KEY=HGNLXaQhG8CtglhHBvA7XD2TFnso1Scx
FINGERPRINT=eyJjbGllbnRDaGFyYWN0ZXJpc3RpY3MiOnsiYnJvd3Nlck5hbWUiOiJDaHJvbWUiLCJicm93c2VyTWFqb3JWZXJzaW9uIjoiMTQ2IiwiYnJvd3NlckZ1bGxWZXJzaW9uIjoiMTQ2LjAuMC4wIiwib3BlcmF0aW5nU3lzdGVtIjoiTWFjIE9TIiwib3NWZXJzaW9uIjoiMTAuMTUuNyIsImNhbnZhc1ByaW50IjoiMmRjZDQ2MTJkNmFlNGQ2NGI2MzIwMDNlZWYxZTYwOWEiLCJjaGFubmVsIjoiV0VCIiwidWEiOiJNb3ppbGxhLzUuMCAoTWFjaW50b3NoOyBJbnRlbCBNYWMgT1MgWCAxMF8xNV83KSBBcHBsZVdlYktpdC81MzcuMzYgKEtIVE1MLCBsaWtlIEdlY2tvKSBDaHJvbWUvMTQ2LjAuMC4wIFNhZmFyaS81MzcuMzYiLCJjYW52YXNQcmludF9vbGQiOiI0M2U3ZmI0Njk2ZTYwYTFjMDY0YTY5NDE4NDA4MzQ5NDY1YjJjZWRjNjljYzgxMjZmYjdhY2M5ZjFmMGE5MTBhIiwiYm5jcCI6IkNocm9tZSIsImJtdmNwIjoiMTQ2IiwiYnZjcCI6IjE0Ni4wLjAuMCIsIm9zY3AiOiJNYWMgT1MiLCJvc3ZjcCI6IjEwLjE1LjcifX0=
USERNAME=
PASSWORD=
BASE_URL=https://www.cvs.com
