annotated-types==0.7.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
dataclasses-json==0.6.7
idna==3.11
jsonpath-python==1.1.4
markdown-it-py==4.0.0
marshmallow==3.26.2
mdurl==0.1.2
mypy_extensions==1.1.0
packaging==26.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.5
rich==14.3.1
shellingham==1.5.4
shippo==3.9.0
-e git+https://github.com/adbertram/shippo-CLI.git@1465581656dd5c1185c46b766334e7f26636868f#egg=shippo_cli
six==1.17.0
typer==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
