ACTIVE=true
BASE_URL=https://medium.com
HEADLESS=true
BROWSER_USER_AGENT=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36
BROWSER_WINDOW_SIZE=1280,900
