ACTIVE=true
BASE_URL=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4
FHIR_SCOPES=launch/patient openid fhirUser offline_access patient/Patient.read patient/AllergyIntolerance.read patient/Condition.read patient/MedicationRequest.read patient/Observation.read patient/Immunization.read patient/Appointment.read patient/DiagnosticReport.read patient/DocumentReference.read patient/Procedure.read patient/Encounter.read patient/CarePlan.read
