# Asana API Credentials
# Get Personal Access Token from: https://app.asana.com/0/my-apps

# Set to 1 for the default profile
ACTIVE=true

# Personal Access Token (required)
ASANA_PAT=

# Workspace ID (optional - default workspace to use)
ASANA_WORKSPACE_ID=
