# G2 API credentials
# Get your personal access token from the G2 Developer Portal.
ACTIVE=true

# Required for all product commands and any review commands your account is entitled to use
PERSONAL_ACCESS_TOKEN=

# Optional override
BASE_URL=https://data.g2.com
