swagger: '2.0'
info:
  contact:
    name: Podio Developer Support
    url: 'https://developers.podio.com'
  description: >-
    Comprehensive OpenAPI specification for the Podio API. This specification
    documents 402 endpoints extracted from the official Podio API documentation
    at https://developers.podio.com/doc
  termsOfService: 'https://podio.com/terms'
  title: Podio API
  version: 1.0.0
host: api.podio.com
basePath: /
schemes:
  - https
paths:
  '/action/{action_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: action_id'
          in: path
          name: action_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Actions
      description: Returns the action with the given id
      operationId: GetActionActionId
      summary: Get action
  /app/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Returns all the apps for the active user.
      operationId: GetApp
      summary: Get all apps
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Creates a new app on a space.
      operationId: PostApp
      summary: Add new app
  /app/features/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Returns the features that the given apps and optionally space includes.
        The current list of features are:
      operationId: GetAppFeatures
      summary: Get features
  /app/icon/search:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Any search term to match.
      operationId: GetAppIconSearch
      summary: Get icon suggestions
  '/app/org/{org_id}/top/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: org_id'
          in: path
          name: org_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Returns the top apps for the user inside the given organization
      operationId: GetAppOrgOrgIdTop
      summary: Get top apps for organization
  '/app/org/{org_label}/space/{space_label}/{app_label}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: org_label'
          in: path
          name: org_label
          required: true
          type: string
        - description: 'Path parameter: space_label'
          in: path
          name: space_label
          required: true
          type: string
        - description: 'Path parameter: app_label'
          in: path
          name: app_label
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: 'Returns app based on the provided org_label, space_label and app_label.'
      operationId: GetAppOrgOrgLabelSpaceSpaceLabelAppLabel
      summary: 'Get app by org label, space label and app label'
  '/app/space/{space_id}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: space_id'
          in: path
          name: space_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Returns all the apps on the space that are visible. The apps are sorted
        by any custom ordering and else by name.
      operationId: GetAppSpaceSpaceId
      summary: Get apps by space
  '/app/space/{space_id}/order':
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: space_id'
          in: path
          name: space_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Updates the order of the apps on the space. It should post all the apps
        from the space in the order required.
      operationId: PutAppSpaceSpaceIdOrder
      summary: Update app order
  '/app/space/{space_id}/{url_label}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: space_id'
          in: path
          name: space_id
          required: true
          type: string
        - description: 'Path parameter: url_label'
          in: path
          name: url_label
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Returns the app on the given space with the given URL label
      operationId: GetAppSpaceSpaceIdUrlLabel
      summary: Get app on space by URL label
  /app/top/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Returns the top apps for the active user. This is the apps that the user
        have interacted with the most.
      operationId: GetAppTop
      summary: Get top apps
  '/app/{app_id}':
    delete:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Deletes the app with the given id. This will delete all items, widgets,
        filters and shares on the app. This operation is not reversible.
      operationId: DeleteAppAppId
      summary: Delete app
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Gets the definition of an app and can include configuration and fields.
        This method will always return the latest revision of the app
        definition.
      operationId: GetAppAppId
      summary: Get app
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Updates an app. The update can contain an new configuration for the app,
        addition of new fields as well as updates to the configuration of
        existing fields. Fields not included will not be deleted. To delete a
        field use the "delete field" operation.
      operationId: PutAppAppId
      summary: Update app
  '/app/{app_id}/activate':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Activates a deactivated app. This puts the app back in the app navigator
        and allows insertion of new items.
      operationId: PostAppAppIdActivate
      summary: Activate app
  '/app/{app_id}/deactivate':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Deactivates the app with the given id. This removes the app from the app
        navigator, and disables insertion of new items.
      operationId: PostAppAppIdDeactivate
      summary: Deactivate app
  '/app/{app_id}/dependencies/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Returns the apps that the given app depends on.
      operationId: GetAppAppIdDependencies
      summary: Get app dependencies
  '/app/{app_id}/description':
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Updates the app with a new description
      operationId: PutAppAppIdDescription
      summary: Update app description
  '/app/{app_id}/field/':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Adds a new field to an app
      operationId: PostAppAppIdField
      summary: Add new app field
  '/app/{app_id}/field/{field_or_external_id}':
    delete:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - description: >-
            Path parameter: field_or_external_id (accepts field_id or
            external_id)
          in: path
          name: field_or_external_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Deletes a field on an app. When deleting a field any new items and
        updates to existing items will not have this field present. For existing
        items, the field will still be presented when viewing the item.
      operationId: DeleteAppAppIdFieldFieldId
      summary: Delete app field
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - description: >-
            Path parameter: field_or_external_id (accepts field_id or
            external_id)
          in: path
          name: field_or_external_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Returns a single field from an app.
      operationId: GetAppAppIdFieldFieldOrExternalId
      summary: Get app field
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - description: >-
            Path parameter: field_or_external_id (accepts field_id or
            external_id)
          in: path
          name: field_or_external_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Updates the configuration of an app field. The type of the field cannot
        be updated, only the configuration.
      operationId: PutAppAppIdFieldFieldId
      summary: Update an app field
  '/app/{app_id}/install':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Installs the app with the given id on the space.
      operationId: PostAppAppIdInstall
      summary: Install app
  '/app/{app_id}/inverse_dependencies/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Returns the apps that depend on the given app_id.
      operationId: GetAppAppIdInverseDependencies
      summary: Get app inverse dependencies
  '/app/{app_id}/item/{app_item_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - description: 'Path parameter: app_item_id'
          in: path
          name: app_item_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Items
      description: >-
        Returns the full item by its app_item_id, which is a unique ID for items
        per app.
      operationId: GetAppAppIdItemAppItemId
      summary: Get item by app_item_id
  '/app/{app_id}/usage':
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: Updates the usage instructions for the app
      operationId: PutAppAppIdUsage
      summary: Update app usage instructions
  '/app/{app_id}/v2':
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Applications
      description: >-
        Updates an app. The update can contain an new configuration for the app,
        addition of new fields as well as updates to the configuration of
        existing fields. Fields not included will not be deleted. To delete a
        field use the "delete field" operation.
      operationId: PutAppAppIdV2
      summary: Update app v2
  /batch/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Batch
      description: >-
        Returns the batches created by the user. The batches are sorted
        descending by date of creation.
      operationId: GetBatch
      summary: Get batches
  '/batch/{batch_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: batch_id'
          in: path
          name: batch_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Batch
      description: Returns the batch with the given id
      operationId: GetBatchBatchId
      summary: Get batch
  '/batch/{ref_type}/{ref_id}/{plugin}/running/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: ref_type'
          in: path
          name: ref_type
          required: true
          type: string
        - description: 'Path parameter: ref_id'
          in: path
          name: ref_id
          required: true
          type: string
        - description: 'Path parameter: plugin'
          in: path
          name: plugin
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Batch
      description: >-
        Returns the currently running batches on the given reference. The
        reference can either be a space or an app. The plugin can either be
        "app_import", "app_export", "space_contact_import" or "app_content".
      operationId: GetBatchRefTypeRefIdPluginRunning
      summary: Get running batches
  /calendar/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: >-
        Returns all items that the user have access to and all tasks that are
        assigned to the user. The items and tasks can be filtered by a list of
        space ids, but tasks without a reference will always be returned.
      operationId: GetCalendar
      summary: Get global calendar
  '/calendar/app/{app_id}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: Returns the items and tasks that are related to the given app.
      operationId: GetCalendarAppAppId
      summary: Get app calendar
  '/calendar/app/{app_id}/filter':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: "Returns the calendar\_for the given app filtered using the\_item filters."
      operationId: PostCalendarAppAppIdFilter
      summary: Filter app calendar
  '/calendar/app/{app_id}/ics/{user_id}/{token}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
        - description: 'Path parameter: user_id'
          in: path
          name: user_id
          required: true
          type: string
        - description: 'Path parameter: token'
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: "Returns the app calendar in the iCal format 90 days into the future.\_The {token} in the URI refers to the user'scalendar_codeand can be retrieved by getting the user status."
      operationId: GetCalendarAppAppIdIcsUserIdToken
      summary: Get app calendar as iCal
  '/calendar/event/{uid}':
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: uid'
          in: path
          name: uid
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: >-
        Update the calendar event with the given UID with a new start and end
        time. All dates and times should be given in the users local timezone.
      operationId: PutCalendarEventUid
      summary: Update calendar event
  /calendar/export/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: Returns the exports configured for the global calendar
      operationId: GetCalendarExport
      summary: Get global exports
  '/calendar/export/linked_account/{linked_account_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: linked_account_id'
          in: path
          name: linked_account_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: >-
        You can simulate the API request by filling out the arguments below, and
        press the submit button to see the response.
      operationId: GetCalendarExportLinkedAccountLinkedAccountId
      summary: Get global export
  '/calendar/export/linked_account/{linked_account_id}/{ref_type}/{ref_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: linked_account_id'
          in: path
          name: linked_account_id
          required: true
          type: string
        - description: 'Path parameter: ref_type'
          in: path
          name: ref_type
          required: true
          type: string
        - description: 'Path parameter: ref_id'
          in: path
          name: ref_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: Returns the current export for the current linked account and ref
      operationId: GetCalendarExportLinkedAccountLinkedAccountIdRefTypeRefId
      summary: Get export by ref
  '/calendar/export/{ref_type}/{ref_id}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: ref_type'
          in: path
          name: ref_type
          required: true
          type: string
        - description: 'Path parameter: ref_id'
          in: path
          name: ref_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: >-
        Returns the calendar exports for the given reference. Valid reference
        types are "app" and "space".
      operationId: GetCalendarExportRefTypeRefId
      summary: Get exports by reference
  '/calendar/ics/{user_id}/{token}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: user_id'
          in: path
          name: user_id
          required: true
          type: string
        - description: 'Path parameter: token'
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: "Returns the user's global calendar in the iCal format\_90 days into the future. The {token} in the URI refers to the user'scalendar_codeand can be retrieved by getting the user status."
      operationId: GetCalendarIcsUserIdToken
      summary: Get global calendar as iCal
  '/calendar/item/{item_id}/field/{field_id}/ics/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: item_id'
          in: path
          name: item_id
          required: true
          type: string
        - description: 'Path parameter: field_id'
          in: path
          name: field_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: >-
        Returns the calendar for the given date field of the given item in the
        iCal format.
      operationId: GetCalendarItemItemIdFieldFieldIdIcs
      summary: Get item field calendar as iCal
  '/calendar/linked_account/{linked_account_id}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: linked_account_id'
          in: path
          name: linked_account_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: >-
        Returns the events in the primary calendar of the linked account in the
        given interval
      operationId: GetCalendarLinkedAccountLinkedAccountId
      summary: Get linked account calendar
  '/calendar/linked_account/{linked_account_id}/event/{uid}/duration':
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: linked_account_id'
          in: path
          name: linked_account_id
          required: true
          type: string
        - description: 'Path parameter: uid'
          in: path
          name: uid
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: Change duration of external event
      operationId: PutCalendarLinkedAccountLinkedAccountIdEventUidDuration
      summary: Update external calendar event duration
  '/calendar/linked_account/{linked_account_id}/event/{uid}/move':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: linked_account_id'
          in: path
          name: linked_account_id
          required: true
          type: string
        - description: 'Path parameter: uid'
          in: path
          name: uid
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: Move event in external calendar linked by linked_account
      operationId: PostCalendarLinkedAccountLinkedAccountIdEventUidMove
      summary: Move external calendar event
  /calendar/personal/summary:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: >-
        Returns the calendar summary for personal tasks and personal spaces and
        sub-orgs.
      operationId: GetCalendarPersonalSummary
      summary: Get calendar summary for personal
  '/calendar/space/{space_id}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: space_id'
          in: path
          name: space_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: >-
        Returns all items and tasks that the user have access to in the given
        space. Tasks with reference to other spaces are not returned or tasks
        with no reference.
      operationId: GetCalendarSpaceSpaceId
      summary: Get space calendar
  '/calendar/space/{space_id}/ics/{user_id}/{token}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: space_id'
          in: path
          name: space_id
          required: true
          type: string
        - description: 'Path parameter: user_id'
          in: path
          name: user_id
          required: true
          type: string
        - description: 'Path parameter: token'
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: "Returns the space calendar in the iCal format\_90 days into the future.\_The {token} in the URI refers to the user'scalendar_codeand can be retrieved by getting the user status."
      operationId: GetCalendarSpaceSpaceIdIcsUserIdToken
      summary: Get space calendar as iCal
  '/calendar/space/{space_id}/summary':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: space_id'
          in: path
          name: space_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: Returns the calendar summary for the given space for the active user
      operationId: GetCalendarSpaceSpaceIdSummary
      summary: Get calendar summary for space
  /calendar/summary:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: Returns the calendar summary for the active user
      operationId: GetCalendarSummary
      summary: Get calendar summary
  '/calendar/task/{task_id}/ics/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: task_id'
          in: path
          name: task_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Calendar
      description: Returns the calendar for the given task in the iCal format.
      operationId: GetCalendarTaskTaskIdIcs
      summary: Get task calendar as iCal
  '/comment/{comment_id}':
    delete:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: comment_id'
          in: path
          name: comment_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Comments
      description: >-
        Deletes a comment made by a user. This can be used to retract a comment
        that was made and which the user regrets.
      operationId: DeleteCommentCommentId
      summary: Delete a comment
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: comment_id'
          in: path
          name: comment_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Comments
      description: >-
        Returns the contents of a comment. It is not possible to see where the
        comment was made, only the comment itself.
      operationId: GetCommentCommentId
      summary: Get a comment
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: comment_id'
          in: path
          name: comment_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Comments
      description: >-
        Updates an already created comment. This should only be used to correct
        spelling and grammatical mistakes in the comment.
      operationId: PutCommentCommentId
      summary: Update a comment
  '/comment/{comment_id}/revision':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: comment_id'
          in: path
          name: comment_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Comments
      description: >-
        Returns all the revisions on the given comment, including the current
        revision. Revisions are returned with the oldest first.
      operationId: GetCommentCommentIdRevision
      summary: Get comment revisions
  '/comment/{type}/{id}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: type'
          in: path
          name: type
          required: true
          type: string
        - description: 'Path parameter: id'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Comments
      description: >-
        Used to retrieve the comments that have been made on an object of the
        given type and with the given id. It returns a list of the comments
        sorted in ascending order by time created.
      operationId: GetCommentTypeId
      summary: Get comments on object
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: type'
          in: path
          name: type
          required: true
          type: string
        - description: 'Path parameter: id'
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Comments
      description: 'Adds a new comment to the object of the given type and id, f.ex. item 1.'
      operationId: PostCommentTypeId
      summary: Add comment to object
  /contact/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: Used to get a list of contacts for the user.
      operationId: GetContact
      summary: Get contacts
  '/contact/app/{app_id}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: Returns all the space contacts referenced by the given app.
      operationId: GetContactAppAppId
      summary: Get space contacts on app
  '/contact/linked_account/{linked_account_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: linked_account_id'
          in: path
          name: linked_account_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: >-
        Loads the contacts from the given linked account. The linked account
        must support the "contacts" capability.
      operationId: GetContactLinkedAccountLinkedAccountId
      summary: Get linked account contacts
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: linked_account_id'
          in: path
          name: linked_account_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: >-
        Loads the contact from the given linked account with the given external
        id. The linked account must support the "contacts" capability.
      operationId: PostContactLinkedAccountLinkedAccountId
      summary: Get linked account contact
  '/contact/org/{org_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: org_id'
          in: path
          name: org_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: >-
        Returns all the profiles of the users contacts on the given
        organization. For the details of the possible return values, see the
        area.
      operationId: GetContactOrgOrgId
      summary: Get organization contacts
  /contact/skill/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: 'Returns the skills of related contacts, ordered by most frequently used.'
      operationId: GetContactSkill
      summary: Get skills
  '/contact/space/{space_id}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: space_id'
          in: path
          name: space_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: >-
        Returns all the profiles of the users contacts on the given space. For
        the details of the possible return values, see the area.
      operationId: GetContactSpaceSpaceId
      summary: Get space contacts
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: space_id'
          in: path
          name: space_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: Creates a new space contact for use by everyone on the space.
      operationId: PostContactSpaceSpaceId
      summary: Create space contact
  '/contact/space/{space_id}/totals/space':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: space_id'
          in: path
          name: space_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: Returns the total number of contacts on the space
      operationId: GetContactSpaceSpaceIdTotalsSpace
      summary: Get space contact totals
  /contact/totals/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: Returns the total number of contacts for the active user.
      operationId: GetContactTotals
      summary: Get contact totals
  /contact/totals/v3/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: Returns the total number of contacts for the active user.
      operationId: GetContactTotalsV3
      summary: Get contact totals (v3)
  '/contact/user/{user_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: user_id'
          in: path
          name: user_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: Returns the contact with the given user id.
      operationId: GetContactUserUserId
      summary: Get user contact
  '/contact/user/{user_id}/{key}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: user_id'
          in: path
          name: user_id
          required: true
          type: string
        - description: 'Path parameter: key'
          in: path
          name: key
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: >-
        Returns the value of a contact with the specific field. For the possible
        keys to use, see the area.
      operationId: GetContactUserUserIdKey
      summary: Get user contact field
  '/contact/{profile_ids}/v2':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: profile_ids'
          in: path
          name: profile_ids
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: >-
        Returns all the contact details about the contact(s) with the given
        profile id(s).
      operationId: GetContactProfileIdsV2
      summary: Get contact(s)
  '/contact/{profile_id}':
    delete:
      produces:
        - application/json
      parameters:
        - description: >-
            Path parameter: profile_id (can accept single or comma-separated
            IDs)
          in: path
          name: profile_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: >-
        Deletes the contact(s) with the given id(s). It is currently only
        allowed to delete contacts of type "space".
      operationId: DeleteContactProfileIds
      summary: Delete contact(s)
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: >-
            Path parameter: profile_id (can accept single or comma-separated
            IDs)
          in: path
          name: profile_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: >-
        Updates the contact with the given profile id. It is currently only
        possible to update contacts of type "space".
      operationId: PutContactProfileId
      summary: Update contact
  '/contact/{profile_id}/vcard':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: profile_id'
          in: path
          name: profile_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: Returns the vCard for the given contact.
      operationId: GetContactProfileIdVcard
      summary: Get vCard
  '/contact/{profile_id}/{key}':
    put:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: profile_id'
          in: path
          name: profile_id
          required: true
          type: string
        - description: 'Path parameter: key'
          in: path
          name: key
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Contacts
      description: >-
        Updates the given field on the given contact. Updates are currently only
        allowed from contacts of type "space".
      operationId: PutContactProfileIdKey
      summary: Update contact field
  /conversation/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Returns all the users conversations ordered by time of the last event.
      operationId: GetConversation
      summary: Get conversations
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Creates a new conversation with a list of users. Once a conversation is
        started, the participants cannot (yet) be changed.
      operationId: PostConversation
      summary: Create conversation
  '/conversation/direct/{user_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: user_id'
          in: path
          name: user_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Returns the existing direct conversation with the user. If none exists a
        404 will be returned.
      operationId: GetConversationDirectUserId
      summary: Get existing direct conversation
  '/conversation/event/{event_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: event_id'
          in: path
          name: event_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Returns data about the given event.
      operationId: GetConversationEventEventId
      summary: Get conversation event
  /conversation/read:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Marks all the users conversations as read.
      operationId: PostConversationRead
      summary: Mark all conversations as read
  /conversation/search/:
    get:
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Returns the users conversations that match the given text ordered by
        time of the last event.
      operationId: GetConversationSearch
      summary: Search conversations
  /conversation/v2/:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Creates a new conversation with a list of users. Once a conversation is
        started, the participants cannot (yet) be changed.
      operationId: PostConversationV2
      summary: Create conversation v2
  '/conversation/{conversation_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Gets the conversation including participants with the the given id. Only
        participants in the conversation is allowed to view the conversation.
      operationId: GetConversationConversationId
      summary: Get conversation
  '/conversation/{conversation_id}/event/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Returns the events on the conversation.
      operationId: GetConversationConversationIdEvent
      summary: Get conversation events
  '/conversation/{conversation_id}/leave':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Leave the given conversation.
      operationId: PostConversationConversationIdLeave
      summary: Leave conversation
  '/conversation/{conversation_id}/participant/':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Adds new participants to the conversation.
      operationId: PostConversationConversationIdParticipant
      summary: Add participants
  '/conversation/{conversation_id}/participant/v2/':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Adds new participants to the conversation.
      operationId: PostConversationConversationIdParticipantV2
      summary: Add participants V2
  '/conversation/{conversation_id}/read':
    delete:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Mark the conversation as unread
      operationId: DeleteConversationConversationIdRead
      summary: Mark conversation as unread
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Mark the conversation as read.
      operationId: PostConversationConversationIdRead
      summary: Mark conversation as read
  '/conversation/{conversation_id}/reply':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Creates a reply to the conversation.
      operationId: PostConversationConversationIdReply
      summary: Reply to conversation
  '/conversation/{conversation_id}/reply/v2':
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Creates a reply to the conversation. Returns the conversation event this
        generates.
      operationId: PostConversationConversationIdReplyV2
      summary: Reply to conversation V2
  '/conversation/{conversation_id}/star':
    delete:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: Removes the star from the conversation.
      operationId: DeleteConversationConversationIdStar
      summary: Unstar conversation
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: conversation_id'
          in: path
          name: conversation_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Star the given conversation. If the conversation is already starred,
        nothing will happen.
      operationId: PostConversationConversationIdStar
      summary: Star conversation
  '/conversation/{flag}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: flag'
          in: path
          name: flag
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: 'Returns the conversations with the given flag. The flag can be one of:'
      operationId: GetConversationFlag
      summary: Get flagged conversations
  '/conversation/{flag}/count':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: flag'
          in: path
          name: flag
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Returns the number of conversations with the given flag. The flag can be
        one of:
      operationId: GetConversationFlagCount
      summary: Get flagged conversation counts
  '/conversation/{ref_type}/{ref_id}/':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: ref_type'
          in: path
          name: ref_type
          required: true
          type: string
        - description: 'Path parameter: ref_id'
          in: path
          name: ref_id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Returns a list of all the conversations on the object that the active
        user is part of.
      operationId: GetConversationRefTypeRefId
      summary: Get conversations on object
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: ref_type'
          in: path
          name: ref_type
          required: true
          type: string
        - description: 'Path parameter: ref_id'
          in: path
          name: ref_id
          required: true
          type: string
        - in: body
          name: body
          schema:
            type: object
      responses:
        '200':
          description: Successful response
          schema:
            type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      tags:
        - Conversations
      description: >-
        Creates a new conversation on the given object. Works similarly to the
        create notification method in other regards.
      operationId: PostConversationRefTypeRefId
      summary: Create conversation on object
  '/email/app/{app_id}':
    get:
      produces:
        - application/json
      parameters:
        - description: 'Path parameter: app_id'
          in: path
          name: app_id
          required: true
          type: string
      responses:
        '200':
[...]
