openapi: 3.0.3
info:
  title: Podio API
  version: 1.0.0
  description: >-
    Comprehensive OpenAPI specification for the Podio API. This specification
    documents 402 endpoints extracted from the official Podio API documentation
    at https://developers.podio.com/doc
  contact:
    name: Podio Developer Support
    url: https://developers.podio.com
  termsOfService: https://podio.com/terms
servers:
  - url: https://api.podio.com
    description: Production API Server
security:
  - oauth2: []
components:
    securitySchemes:
      oauth2:
        type: oauth2
        description: >-
          OAuth 2.0 authentication. Access tokens expire after 8 hours, refresh
          tokens after 28 days.
        flows:
          authorizationCode:
            authorizationUrl: https://podio.com/oauth/authorize
            tokenUrl: https://api.podio.com/oauth/token/v2
            refreshUrl: https://api.podio.com/oauth/token/v2
            scopes:
              global:all: Full access to all resources
          implicit:
            authorizationUrl: https://podio.com/oauth/authorize
            scopes:
              global:all: Full access to all resources
          password:
            tokenUrl: https://api.podio.com/oauth/token/v2  # Added /v2
            refreshUrl: https://api.podio.com/oauth/token/v2  # Added /v2
            scopes:
              global:all: Full access to all resources
paths:
  /action/{action_id}:
    get:
      summary: Get action
      description: Returns the action with the given id
      tags:
        - Actions
      operationId: get_action_action_id
      parameters:
        - name: action_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: action_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/{app_id}/deactivate:
    post:
      summary: Deactivate app
      description: >-
        Deactivates the app with the given id. This removes the app from the app
        navigator, and disables insertion of new items.
      tags:
        - Applications
      operationId: post_app_app_id_deactivate
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/{app_id}/field/{field_or_external_id}:
    delete:
      summary: Delete app field
      description: >-
        Deletes a field on an app. When deleting a field any new items and
        updates to existing items will not have this field present. For existing
        items, the field will still be presented when viewing the item.
      tags:
        - Applications
      operationId: delete_app_app_id_field_field_id
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
        - name: field_or_external_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: field_or_external_id (accepts field_id or external_id)'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
    get:
      summary: Get app field
      description: Returns a single field from an app.
      tags:
        - Applications
      operationId: get_app_app_id_field_field_or_external_id
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
        - name: field_or_external_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: field_or_external_id (accepts field_id or external_id)'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
    put:
      summary: Update an app field
      description: >-
        Updates the configuration of an app field. The type of the field cannot
        be updated, only the configuration.
      tags:
        - Applications
      operationId: put_app_app_id_field_field_id
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
        - name: field_or_external_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: field_or_external_id (accepts field_id or external_id)'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/{app_id}/activate:
    post:
      summary: Activate app
      description: >-
        Activates a deactivated app. This puts the app back in the app navigator
        and allows insertion of new items.
      tags:
        - Applications
      operationId: post_app_app_id_activate
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/{app_id}/field/:
    post:
      summary: Add new app field
      description: Adds a new field to an app
      tags:
        - Applications
      operationId: post_app_app_id_field
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/{app_id}:
    get:
      summary: Get app
      description: >-
        Gets the definition of an app and can include configuration and fields.
        This method will always return the latest revision of the app
        definition.
      tags:
        - Applications
      operationId: get_app_app_id
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
    delete:
      summary: Delete app
      description: >-
        Deletes the app with the given id. This will delete all items, widgets,
        filters and shares on the app. This operation is not reversible.
      tags:
        - Applications
      operationId: delete_app_app_id
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
    put:
      summary: Update app
      description: >-
        Updates an app. The update can contain an new configuration for the app,
        addition of new fields as well as updates to the configuration of
        existing fields. Fields not included will not be deleted. To delete a
        field use the "delete field" operation.
      tags:
        - Applications
      operationId: put_app_app_id
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/:
    get:
      summary: Get all apps
      description: Returns all the apps for the active user.
      tags:
        - Applications
      operationId: get_app
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
    post:
      summary: Add new app
      description: Creates a new app on a space.
      tags:
        - Applications
      operationId: post_app
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/{app_id}/dependencies/:
    get:
      summary: Get app dependencies
      description: Returns the apps that the given app depends on.
      tags:
        - Applications
      operationId: get_app_app_id_dependencies
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/{app_id}/inverse_dependencies/:
    get:
      summary: Get app inverse dependencies
      description: Returns the apps that depend on the given app_id.
      tags:
        - Applications
      operationId: get_app_app_id_inverse_dependencies
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/space/{space_id}/{url_label}:
    get:
      summary: Get app on space by URL label
      description: Returns the app on the given space with the given URL label
      tags:
        - Applications
      operationId: get_app_space_space_id_url_label
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
        - name: url_label
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: url_label'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/icon/search:
    get:
      summary: Get icon suggestions
      description: Any search term to match.
      tags:
        - Applications
      operationId: get_app_icon_search
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/space/{space_id}/:
    get:
      summary: Get apps by space
      description: >-
        Returns all the apps on the space that are visible. The apps are sorted
        by any custom ordering and else by name.
      tags:
        - Applications
      operationId: get_app_space_space_id
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/features/:
    get:
      summary: Get features
      description: >-
        Returns the features that the given apps and optionally space includes.
        The current list of features are:
      tags:
        - Applications
      operationId: get_app_features
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/org/{org_label}/space/{space_label}/{app_label}:
    get:
      summary: Get app by org label, space label and app label
      description: Returns app based on the provided org_label, space_label and app_label.
      tags:
        - Applications
      operationId: get_app_org_org_label_space_space_label_app_label
      parameters:
        - name: org_label
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: org_label'
        - name: space_label
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_label'
        - name: app_label
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_label'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/top/:
    get:
      summary: Get top apps
      description: >-
        Returns the top apps for the active user. This is the apps that the user
        have interacted with the most.
      tags:
        - Applications
      operationId: get_app_top
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/org/{org_id}/top/:
    get:
      summary: Get top apps for organization
      description: Returns the top apps for the user inside the given organization
      tags:
        - Applications
      operationId: get_app_org_org_id_top
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: org_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /space/{space_id}/dependencies/:
    get:
      summary: Get space app dependencies
      description: >-
        Returns all the active apps on the space along with their dependencies.
        The dependencies are only one level deep.
      tags:
        - Applications
      operationId: get_space_space_id_dependencies
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /app/{app_id}/install:
    post:
      summary: Install app
      description: Installs the app with the given id on the space.
      tags:
        - Applications
      operationId: post_app_app_id_install
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/{app_id}/description:
    put:
      summary: Update app description
      description: Updates the app with a new description
      tags:
        - Applications
      operationId: put_app_app_id_description
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/{app_id}/usage:
    put:
      summary: Update app usage instructions
      description: Updates the usage instructions for the app
      tags:
        - Applications
      operationId: put_app_app_id_usage
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/space/{space_id}/order:
    put:
      summary: Update app order
      description: >-
        Updates the order of the apps on the space. It should post all the apps
        from the space in the order required.
      tags:
        - Applications
      operationId: put_app_space_space_id_order
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /app/{app_id}/v2:
    put:
      summary: Update app v2
      description: >-
        Updates an app. The update can contain an new configuration for the app,
        addition of new fields as well as updates to the configuration of
        existing fields. Fields not included will not be deleted. To delete a
        field use the "delete field" operation.
      tags:
        - Applications
      operationId: put_app_app_id_v2
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /calendar/app/{app_id}/filter:
    post:
      summary: Filter app calendar
      description: "Returns the calendar\_for the given app filtered using the\_item filters."
      tags:
        - Calendar
      operationId: post_calendar_app_app_id_filter
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /batch/{batch_id}:
    get:
      summary: Get batch
      description: Returns the batch with the given id
      tags:
        - Batch
      operationId: get_batch_batch_id
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: batch_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /batch/{ref_type}/{ref_id}/{plugin}/running/:
    get:
      summary: Get running batches
      description: >-
        Returns the currently running batches on the given reference. The
        reference can either be a space or an app. The plugin can either be
        "app_import", "app_export", "space_contact_import" or "app_content".
      tags:
        - Batch
      operationId: get_batch_ref_type_ref_id_plugin_running
      parameters:
        - name: ref_type
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_type'
        - name: ref_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_id'
        - name: plugin
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: plugin'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /batch/:
    get:
      summary: Get batches
      description: >-
        Returns the batches created by the user. The batches are sorted
        descending by date of creation.
      tags:
        - Batch
      operationId: get_batch
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/app/{app_id}/:
    get:
      summary: Get app calendar
      description: Returns the items and tasks that are related to the given app.
      tags:
        - Calendar
      operationId: get_calendar_app_app_id
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/summary:
    get:
      summary: Get calendar summary
      description: Returns the calendar summary for the active user
      tags:
        - Calendar
      operationId: get_calendar_summary
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/app/{app_id}/ics/{user_id}/{token}/:
    get:
      summary: Get app calendar as iCal
      description: "Returns the app calendar in the iCal format 90 days into the future.\_The {token} in the URI refers to the user'scalendar_codeand can be retrieved by getting the user status."
      tags:
        - Calendar
      operationId: get_calendar_app_app_id_ics_user_id_token
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: user_id'
        - name: token
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: token'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/space/{space_id}/summary:
    get:
      summary: Get calendar summary for space
      description: Returns the calendar summary for the given space for the active user
      tags:
        - Calendar
      operationId: get_calendar_space_space_id_summary
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/:
    get:
      summary: Get global calendar
      description: >-
        Returns all items that the user have access to and all tasks that are
        assigned to the user. The items and tasks can be filtered by a list of
        space ids, but tasks without a reference will always be returned.
      tags:
        - Calendar
      operationId: get_calendar
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/personal/summary:
    get:
      summary: Get calendar summary for personal
      description: >-
        Returns the calendar summary for personal tasks and personal spaces and
        sub-orgs.
      tags:
        - Calendar
      operationId: get_calendar_personal_summary
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/export/{ref_type}/{ref_id}/:
    get:
      summary: Get exports by reference
      description: >-
        Returns the calendar exports for the given reference. Valid reference
        types are "app" and "space".
      tags:
        - Calendar
      operationId: get_calendar_export_ref_type_ref_id
      parameters:
        - name: ref_type
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_type'
        - name: ref_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/export/linked_account/{linked_account_id}/{ref_type}/{ref_id}:
    get:
      summary: Get export by ref
      description: Returns the current export for the current linked account and ref
      tags:
        - Calendar
      operationId: get_calendar_export_linked_account_linked_account_id_ref_type_ref_id
      parameters:
        - name: linked_account_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: linked_account_id'
        - name: ref_type
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_type'
        - name: ref_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/ics/{user_id}/{token}/:
    get:
      summary: Get global calendar as iCal
      description: "Returns the user's global calendar in the iCal format\_90 days into the future. The {token} in the URI refers to the user'scalendar_codeand can be retrieved by getting the user status."
      tags:
        - Calendar
      operationId: get_calendar_ics_user_id_token
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: user_id'
        - name: token
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: token'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/export/linked_account/{linked_account_id}:
    get:
      summary: Get global export
      description: >-
        You can simulate the API request by filling out the arguments below, and
        press the submit button to see the response.
      tags:
        - Calendar
      operationId: get_calendar_export_linked_account_linked_account_id
      parameters:
        - name: linked_account_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: linked_account_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/export/:
    get:
      summary: Get global exports
      description: Returns the exports configured for the global calendar
      tags:
        - Calendar
      operationId: get_calendar_export
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/item/{item_id}/field/{field_id}/ics/:
    get:
      summary: Get item field calendar as iCal
      description: >-
        Returns the calendar for the given date field of the given item in the
        iCal format.
      tags:
        - Calendar
      operationId: get_calendar_item_item_id_field_field_id_ics
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: item_id'
        - name: field_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: field_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/linked_account/{linked_account_id}/:
    get:
      summary: Get linked account calendar
      description: >-
        Returns the events in the primary calendar of the linked account in the
        given interval
      tags:
        - Calendar
      operationId: get_calendar_linked_account_linked_account_id
      parameters:
        - name: linked_account_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: linked_account_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/task/{task_id}/ics/:
    get:
      summary: Get task calendar as iCal
      description: Returns the calendar for the given task in the iCal format.
      tags:
        - Calendar
      operationId: get_calendar_task_task_id_ics
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: task_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/space/{space_id}/ics/{user_id}/{token}/:
    get:
      summary: Get space calendar as iCal
      description: "Returns the space calendar in the iCal format\_90 days into the future.\_The {token} in the URI refers to the user'scalendar_codeand can be retrieved by getting the user status."
      tags:
        - Calendar
      operationId: get_calendar_space_space_id_ics_user_id_token
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: user_id'
        - name: token
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: token'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/linked_account/{linked_account_id}/event/{uid}/move:
    post:
      summary: Move external calendar event
      description: Move event in external calendar linked by linked_account
      tags:
        - Calendar
      operationId: post_calendar_linked_account_linked_account_id_event_uid_move
      parameters:
        - name: linked_account_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: linked_account_id'
        - name: uid
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: uid'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /calendar/space/{space_id}/:
    get:
      summary: Get space calendar
      description: >-
        Returns all items and tasks that the user have access to in the given
        space. Tasks with reference to other spaces are not returned or tasks
        with no reference.
      tags:
        - Calendar
      operationId: get_calendar_space_space_id
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /calendar/linked_account/{linked_account_id}/event/{uid}/duration:
    put:
      summary: Update external calendar event duration
      description: Change duration of external event
      tags:
        - Calendar
      operationId: put_calendar_linked_account_linked_account_id_event_uid_duration
      parameters:
        - name: linked_account_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: linked_account_id'
        - name: uid
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: uid'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /calendar/event/{uid}:
    put:
      summary: Update calendar event
      description: >-
        Update the calendar event with the given UID with a new start and end
        time. All dates and times should be given in the users local timezone.
      tags:
        - Calendar
      operationId: put_calendar_event_uid
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: uid'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /comment/{type}/{id}/:
    post:
      summary: Add comment to object
      description: Adds a new comment to the object of the given type and id, f.ex. item 1.
      tags:
        - Comments
      operationId: post_comment_type_id
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: type'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      summary: Get comments on object
      description: >-
        Used to retrieve the comments that have been made on an object of the
        given type and with the given id. It returns a list of the comments
        sorted in ascending order by time created.
      tags:
        - Comments
      operationId: get_comment_type_id
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: type'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /comment/{comment_id}:
    delete:
      summary: Delete a comment
      description: >-
        Deletes a comment made by a user. This can be used to retract a comment
        that was made and which the user regrets.
      tags:
        - Comments
      operationId: delete_comment_comment_id
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: comment_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
    get:
      summary: Get a comment
      description: >-
        Returns the contents of a comment. It is not possible to see where the
        comment was made, only the comment itself.
      tags:
        - Comments
      operationId: get_comment_comment_id
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: comment_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
    put:
      summary: Update a comment
      description: >-
        Updates an already created comment. This should only be used to correct
        spelling and grammatical mistakes in the comment.
      tags:
        - Comments
      operationId: put_comment_comment_id
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: comment_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /comment/{comment_id}/revision:
    get:
      summary: Get comment revisions
      description: >-
        Returns all the revisions on the given comment, including the current
        revision. Revisions are returned with the oldest first.
      tags:
        - Comments
      operationId: get_comment_comment_id_revision
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: comment_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/{profile_id}:
    delete:
      summary: Delete contact(s)
      description: >-
        Deletes the contact(s) with the given id(s). It is currently only
        allowed to delete contacts of type "space".
      tags:
        - Contacts
      operationId: delete_contact_profile_ids
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: profile_id (can accept single or comma-separated IDs)'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
    put:
      summary: Update contact
      description: >-
        Updates the contact with the given profile id. It is currently only
        possible to update contacts of type "space".
      tags:
        - Contacts
      operationId: put_contact_profile_id
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: profile_id (can accept single or comma-separated IDs)'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /contact/space/{space_id}/:
    post:
      summary: Create space contact
      description: Creates a new space contact for use by everyone on the space.
      tags:
        - Contacts
      operationId: post_contact_space_space_id
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      summary: Get space contacts
      description: >-
        Returns all the profiles of the users contacts on the given space. For
        the details of the possible return values, see the area.
      tags:
        - Contacts
      operationId: get_contact_space_space_id
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/totals/:
    get:
      summary: Get contact totals
      description: Returns the total number of contacts for the active user.
      tags:
        - Contacts
      operationId: get_contact_totals
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/totals/v3/:
    get:
      summary: Get contact totals (v3)
      description: Returns the total number of contacts for the active user.
      tags:
        - Contacts
      operationId: get_contact_totals_v3
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/linked_account/{linked_account_id}:
    post:
      summary: Get linked account contact
      description: >-
        Loads the contact from the given linked account with the given external
        id. The linked account must support the "contacts" capability.
      tags:
        - Contacts
      operationId: post_contact_linked_account_linked_account_id
      parameters:
        - name: linked_account_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: linked_account_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      summary: Get linked account contacts
      description: >-
        Loads the contacts from the given linked account. The linked account
        must support the "contacts" capability.
      tags:
        - Contacts
      operationId: get_contact_linked_account_linked_account_id
      parameters:
        - name: linked_account_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: linked_account_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/{profile_ids}/v2:
    get:
      summary: Get contact(s)
      description: >-
        Returns all the contact details about the contact(s) with the given
        profile id(s).
      tags:
        - Contacts
      operationId: get_contact_profile_ids_v2
      parameters:
        - name: profile_ids
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: profile_ids'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/skill/:
    get:
      summary: Get skills
      description: Returns the skills of related contacts, ordered by most frequently used.
      tags:
        - Contacts
      operationId: get_contact_skill
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/:
    get:
      summary: Get contacts
      description: Used to get a list of contacts for the user.
      tags:
        - Contacts
      operationId: get_contact
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/org/{org_id}:
    get:
      summary: Get organization contacts
      description: >-
        Returns all the profiles of the users contacts on the given
        organization. For the details of the possible return values, see the
        area.
      tags:
        - Contacts
      operationId: get_contact_org_org_id
      parameters:
        - name: org_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: org_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/space/{space_id}/totals/space:
    get:
      summary: Get space contact totals
      description: Returns the total number of contacts on the space
      tags:
        - Contacts
      operationId: get_contact_space_space_id_totals_space
      parameters:
        - name: space_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: space_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/user/{user_id}:
    get:
      summary: Get user contact
      description: Returns the contact with the given user id.
      tags:
        - Contacts
      operationId: get_contact_user_user_id
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: user_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/user/{user_id}/{key}:
    get:
      summary: Get user contact field
      description: >-
        Returns the value of a contact with the specific field. For the possible
        keys to use, see the area.
      tags:
        - Contacts
      operationId: get_contact_user_user_id_key
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: user_id'
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: key'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /contact/{profile_id}/vcard:
    get:
      summary: Get vCard
      description: Returns the vCard for the given contact.
      tags:
        - Contacts
      operationId: get_contact_profile_id_vcard
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: profile_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/{conversation_id}/participant/:
    post:
      summary: Add participants
      description: Adds new participants to the conversation.
      tags:
        - Conversations
      operationId: post_conversation_conversation_id_participant
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: conversation_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /conversation/{ref_type}/{ref_id}/:
    post:
      summary: Create conversation on object
      description: >-
        Creates a new conversation on the given object. Works similarly to the
        create notification method in other regards.
      tags:
        - Conversations
      operationId: post_conversation_ref_type_ref_id
      parameters:
        - name: ref_type
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_type'
        - name: ref_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      summary: Get conversations on object
      description: >-
        Returns a list of all the conversations on the object that the active
        user is part of.
      tags:
        - Conversations
      operationId: get_conversation_ref_type_ref_id
      parameters:
        - name: ref_type
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_type'
        - name: ref_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: ref_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/v2/:
    post:
      summary: Create conversation v2
      description: >-
        Creates a new conversation with a list of users. Once a conversation is
        started, the participants cannot (yet) be changed.
      tags:
        - Conversations
      operationId: post_conversation_v2
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /contact/{profile_id}/{key}:
    put:
      summary: Update contact field
      description: >-
        Updates the given field on the given contact. Updates are currently only
        allowed from contacts of type "space".
      tags:
        - Contacts
      operationId: put_contact_profile_id_key
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: profile_id'
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: key'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /conversation/:
    post:
      summary: Create conversation
      description: >-
        Creates a new conversation with a list of users. Once a conversation is
        started, the participants cannot (yet) be changed.
      tags:
        - Conversations
      operationId: post_conversation
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      summary: Get conversations
      description: Returns all the users conversations ordered by time of the last event.
      tags:
        - Conversations
      operationId: get_conversation
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/event/{event_id}:
    get:
      summary: Get conversation event
      description: Returns data about the given event.
      tags:
        - Conversations
      operationId: get_conversation_event_event_id
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: event_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/{conversation_id}/event/:
    get:
      summary: Get conversation events
      description: Returns the events on the conversation.
      tags:
        - Conversations
      operationId: get_conversation_conversation_id_event
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: conversation_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/{conversation_id}:
    get:
      summary: Get conversation
      description: >-
        Gets the conversation including participants with the the given id. Only
        participants in the conversation is allowed to view the conversation.
      tags:
        - Conversations
      operationId: get_conversation_conversation_id
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: conversation_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/{conversation_id}/participant/v2/:
    post:
      summary: Add participants V2
      description: Adds new participants to the conversation.
      tags:
        - Conversations
      operationId: post_conversation_conversation_id_participant_v2
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: conversation_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /contact/app/{app_id}/:
    get:
      summary: Get space contacts on app
      description: Returns all the space contacts referenced by the given app.
      tags:
        - Contacts
      operationId: get_contact_app_app_id
      parameters:
        - name: app_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: app_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/direct/{user_id}:
    get:
      summary: Get existing direct conversation
      description: >-
        Returns the existing direct conversation with the user. If none exists a
        404 will be returned.
      tags:
        - Conversations
      operationId: get_conversation_direct_user_id
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: user_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/{flag}/count:
    get:
      summary: Get flagged conversation counts
      description: >-
        Returns the number of conversations with the given flag. The flag can be
        one of:
      tags:
        - Conversations
      operationId: get_conversation_flag_count
      parameters:
        - name: flag
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: flag'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/read:
    post:
      summary: Mark all conversations as read
      description: Marks all the users conversations as read.
      tags:
        - Conversations
      operationId: post_conversation_read
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /conversation/{conversation_id}/leave:
    post:
      summary: Leave conversation
      description: Leave the given conversation.
      tags:
        - Conversations
      operationId: post_conversation_conversation_id_leave
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: conversation_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /conversation/{flag}/:
    get:
      summary: Get flagged conversations
      description: 'Returns the conversations with the given flag. The flag can be one of:'
      tags:
        - Conversations
      operationId: get_conversation_flag
      parameters:
        - name: flag
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: flag'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/{conversation_id}/read:
    post:
      summary: Mark conversation as read
      description: Mark the conversation as read.
      tags:
        - Conversations
      operationId: post_conversation_conversation_id_read
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: conversation_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
    delete:
      summary: Mark conversation as unread
      description: Mark the conversation as unread
      tags:
        - Conversations
      operationId: delete_conversation_conversation_id_read
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: conversation_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
  /conversation/{conversation_id}/reply/v2:
    post:
      summary: Reply to conversation V2
      description: >-
        Creates a reply to the conversation. Returns the conversation event this
        generates.
      tags:
        - Conversations
      operationId: post_conversation_conversation_id_reply_v2
      parameters:
        - name: conversation_id
          in: path
          required: true
          schema:
            type: string
          description: 'Path parameter: conversation_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized - Invalid or missing OAuth token
        '403':
          description: Forbidden - Insufficient permissions
        '404':
          description: Resource not found
        '500':
          description: Internal server error
      security:
        - oauth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /conversation/search/:
    get:
      summary: Search conversations
      description: >-
        Returns the users conversations that match the given text ordered by
        time of the last event.
      tags:
        - Conversations
      operationId: get_conversation_search
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
[...]
