# WP Engine CLI configuration
ACTIVE=true

# Non-authentication configuration
BASE_URL=https://api.wpengineapi.com/v1

# WP Engine API User ID and API Password.
# Prefer secret-manager references written by `wpengine auth login`.
USERNAME=
PASSWORD=
